@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

body {
  margin: 0;
  color: white;
}

.bg-container {
  height: 100vh;
  position: relative;
}

.rod1,
.rod2 {
  position: relative;
  height: 30px;
  border-radius: 40px;
  width: 30%;
  padding: 2px;
}

.ball {
  position: fixed;
  top: 30px;
  left: 50%-10px;
  width: 20px;
  height: 20px;
  background-color: lightgreen;
  border-radius: 44px;
}
